/* Header Section */
  .header {
    top: 0;
    display: flex;
    position: fixed;
    background-color: white;
    height: 64px;
    width: 100%;
  }

  .logo {
    font-size: 24px;
    line-height: 64px;
    top: 0;
    padding: 0px 0px 0px 24px;
    margin-right: auto;
  }

  .flex-container{
    justify-content: space-between;
    margin-left: auto;
    padding-right: 24px;
    font-size: 24px;
    line-height: 64px;
    right: 0;
    gap: 16px;
  }
   .flex-container i {
     font-size: 0;
   }

  /* Banner Section */
  .banner {
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    height: 700px;
  }
  .Start here {
   margin: auto;
  }

  .banner img {
     margin: 32px 24px;
     float: left;
     max-width: 100%;
  }

  .button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
    height: 50px;
    width: 300px;
    margin: auto;
    line-height: 50px;
    padding: 20px, 0px;
  }

  h1, h2 {
    margin: auto;
    width: 300px;
    padding: 10px 0px;
  }

  /* Info Section */
  .info { 
    display: flex;
    height: 700px;
  }
  
  .info img {
     width: 60vw;
     height: 60vh;
     transform: translate(-50, -50);
     box-sizing: border-box;
     max-height: 700px;
     max-width: 100%;
  }

  .info h1 { 
    font-size: 33px;
    margin: 0;
    white-space: nowrap;
  }
  
  .info div {
    flex: 1;
  }

  .left {
    flex: 1;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
  }

  .left h1 {
    padding-bottom: 24px;
  }

  .right {
    flex: 1;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "top" "mid" "last" ".";
  }

  .top {
    grid-area: top;
  }

  .mid {
    grid-area: mid;
  }

  .last {
    grid-area: last;
    background-color: lightgray;
  }
  .right img {
     height: 19vh;
     width: 19vw;
     left: 0;
     flex: 1;
     float: left;
  }

  .right div {
     flex: 1 ;
     padding-top: 40px;
     padding-right: 15px;
     padding-left: 15px;
     box-sizing: border-box;
  } 

  .right section {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: left;
    text-align: left;
    align-items: left;
    font-size: 13px;
    padding-left: 5px;
  }

  .right section h4 {
    white-space: normal;
    text-align: left;
  }

  /* Courses Section */
   .courses {
     display: grid;
     background-color: lightgray;
     height: 700px;
     grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
     grid-template-rows: 1fr 2fr 2fr 1fr;
     grid-template-areas: "h h h h h"
     ". tl tm tr ."
     ". bl bm br ."
     ". . . . . ";
     gap: 32px;
   }

   .courses h1 {
     text-align: center;
     grid-area: h;
     width: 100%;
     padding-top: 32px;
   }
   .tl {
     grid-area: tl;
   }
   .tm {
    grid-area: tm;
  }
   .tr {
    grid-area: tr;
  }
   .bl {
    grid-area: bl;
  }
   .bm {
    grid-area: bm;
  }
   .br {
    grid-area: br;
  }   
  
  .courses section {
      border: 1px solid red;
      text-align: center;
    }
   
    .courses img {
      height: 19vh;
      width: 100%;
      margin-bottom: 0;
      display: block;
    }
 
   .courses section div {
      background-color: white;
      height: 19vh;
    } 

  /* Thesis Section */
  .thesis {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "t t"
    "ls rs";
    height: 700px;
  }
  .thesis h1 {
    grid-area: t;
    width: 100%;
    text-align: center;
  }

  .ls {
   grid-area: ls;
  }

  .rs {
  grid-area: rs;
   }

   .thesis .ls video{
     max-width: 100%;
   }

   .thesis .ls {
     white-space: normal;
   }

   .thesis .rs img {
     width: 17vw;
   }

   .thesis .rs {
     text-align: center;
     display: grid;
     grid-template-rows: repeat(3, 1fr);
     grid-template-columns: repeat(2, 1fr);
     grid-template-areas: "it pt" "im pm" ". .";
     gap: 0;
   } 
   
   .it {
     grid-area: it;
   }
   .im {
    grid-area: im;
  }
   .pt {
    grid-area: pt;
    text-align: left;
    width: auto;
  }
   .pm {
    grid-area: pm;
    text-align: left;
  }
 
  /* Footer Section */
  .footer {
    bottom: 0;
    display: flex;
    position: fixed;
    background-color: white;
    height: 64px;
    width: 100%;
  }

  .copyright {
    font-size: 32px;
    line-height: 64px;
    padding-left: 24px;
    margin-right: auto;
    font-size: 16px;
  }

  .terms {
    justify-content: space-between;
    margin-left: auto;
    padding-right: 24px;
    font-size: 16px;
    line-height: 64px;
    gap: 16px;
  }

/* Media Queries Section */
@media only screen and (max-width: 600px) {
    .flex-container, .logo span {
    display: none;
  } 

  .info .left {
      display: none;
  }
    .terms {
      display: none;
  }
   .copyright {
     text-align: center;
     align-items: center;
     width: 100%;
  }
    .thesis .rs, .thesis .ls h3, .thesis .ls p
    {
      display: none;
    }
    .thesis video {
      max-width: 100%;
      max-height: 100%;
      
    }
  }